@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Lato', sans-serif;
  color: #333;
}

.btn,
.btn:link,
.btn:visited {
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.btn:hover {
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  -webkit-box-shadow: 0 0.625rem, 1.25rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.625rem, 1.25rem rgba (0, 0, 0, 0.15);
}

.btn:active {
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  -webkit-box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.15);
}

.heading-gradient {
  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(rgba(255, 185, 0, 1)),
    to(rgba(255, 119, 48, 1))
  );
  background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 1), rgba(255, 119, 48, 1));
  -webkit-background-clip: text;
  color: transparent;
}
